<footer class="py-10 bg-veryDarkBlue text-white flex flex-col gap-7 lg:flex-row items-center lg:gap-0 justify-around">
    <ul class="flex flex-col gap-7 items-center lg:flex-row">
        <li>
            <img src="/images/logo-bookmark-footer.svg" alt="logo" />
        </li>
        <li class="text-lg cursor-pointer hover:text-softRed">
            <a href="#features"> FEATURES</a>
           
        </li>
        <li class="text-lg cursor-pointer hover:text-softRed">
            PRICING
        </li>
        <li class="text-lg cursor-pointer hover:text-softRed">
            <a href="#contact">CONTACT</a>
        </li>
    </ul>
    <ul class="flex gap-10 items-center">
        <li class="cursor-pointer">
            <img src="/images/icon-facebook.svg" alt="icon-faceebok" />
        </li>
        <li class="cursor-pointer">
            <img src="/images/icon-twitter.svg" alt="icon-twitter" />
        </li>
    </ul>
</footer>
